.actionBox{
    background-color: #EEEEEE;
}
.actionBox a{
    float: left;
    width: 25%;
    height: 30px;
    font-size: 14px;
    color: #666;
    text-align: center;
    line-height: 30px;
}

.actionBox a.current{
    color: orangered;
}

.loading{
    width: 60px;
    height: 60px;
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid darkblue;
    transition: all 1s;
    animation: rotate 1s infinite;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}